html {
  height: 100%;
  width: 100%;
}
nav a:active { 
  background-color:gray ;
}

nav a:hover {
  border-radius: 50%;
                 
}

body { 
  background-image: url("https://miro.medium.com/max/1200/1*9IIoxOcIbhMFFKMCI2ncuQ.jpeg");
  background-repeat: no-repeat;
  background-size: cover;

       } 

/* h1, a, p {
  color: white;
} */
* {
  color: white;
}

/* selector:pseudo-class {
  property: value;
  
} */
img{
  margin:40px;
  width:40%;
}

h1:first-letter {
 font-size: 2em;
} 